<div class="container">
    <h1 class="title text-center">CHECK VACCINE REQUIREMENTS</h1>
    <div class="row">
        <div class="col-12 text-center">
        <form action="/countryRequirements" method="post" id="country_record_form">
            <div class="form-row col-12">
                <div class="form-group ">
                    <label for="country">Country Name</label>
                    <input type="text" name="country" minlength="1" required="true" class="form-control" id="contact" placeholder="Enter Country Name">
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-10">Submit</button>
        </form>
        </div>
        <div class="col-12 p-3" id="_record_form_result">
        </div>
    </div>
</div>