{% extends 'base.html' %}

{% block header %}
    {% if not session.loggedIn %}
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">Vaccination Curation System</h1>
                <p class="lead">We are trying to digitze the vaccination records of people to lead to a safer and secure future.</p>
                <hr class="my-4">
                <button type="button" class="btn btn-dark col-12"><a class="nav-link text-white" href="/" >GO BACK HOME</a></button>
            </div>
        </div>
    {% else %}
        <section id="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="#main">VacciCure</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/">SERVICES</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">{{ session.userName }}</a>
                    </li>
                </ul>
                </div>
            </nav>
        </section>
    {% endif %}

<div class="container">
    <h1 class="title text-center">INSERT VACCINATION RECORD</h1>
    <div class="row">
        <div class="col-12 text-center">
        <form action="/addRecord" method="post" id="insert_vaccine_record_form">
            <div class="form-row col-12">
                <div class="form-group col-md-6">
                    <label for="VaccineID">Vaccine ID</label>
                    <input type="text" name="VaccineID" required="true" class="form-control" id="VaccineID" placeholder="Enter the Vaccine ID">
                </div>
                <div class="form-group col-md-6">
                    <label for="AadharNo">Aadhar Number</label>
                    <input type="text" name="Aadhar" class="form-control" id="Aadhar" placeholder="Enter Aadhar Number">
                </div>
            </div>
            <div class="form-row col-12">
                <div class="form-group col-md-6">
                    <label for="VaccineDate">Vaccination Date</label>
                    <input type="date" name="vaccineDate" required="true" class="form-control" id="VaccineDate" placeholder="Enter the date of vaccination">
                </div>
                <div class="form-group col-md-6">
                    <label for="HealthCentreID">Health Centre ID</label>
                    <input type="text" name="HealthCentreID" required="true" class="form-control" id="HealthCentreID" placeholder="Associated Health Centre ID">
                </div>
            </div>
            <div class="form-row col-12">
                <div class="form-group col-md-6">
                    <label for="DosageNo">Dosage No</label>
                    <input type="text" name="dosage" required="true" class="form-control" id="DosageNo" placeholder="Dosage Number">
                </div>
                <div class="form-group col-md-6">
                    <label for="CampID">Camp ID</label>
                    <input type="text" name="campId" class="form-control" id="CampID" placeholder="Camp ID">
                </div>
            </div>
            <div class="form-row col-12">
                <div class="form-group col-md-6">
                    <label for="DoctorLicenseNo">Doctor License Number</label>
                    <input type="text" name="license" required="true" class="form-control" id="DoctorLicenseNo" placeholder="Doctor License Number">
                </div>
                <div class="form-group col-md-6">
                    <label for="VaccineCode">Vaccine Code</label>
                    <input type="text" name="v_code" required="true" class="form-control" id="VaccineCode" placeholder="Enter Unique Vaccine Code">
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-10">Submit</button>
        </form>
        </div>
        <div class="col-12" id="insert_vaccine_record_form_result">
        </div>
    </div>
</div>
{% endblock %}
