<div class="container">
    <h1 class="title text-center">SIGN UP AS:</h1>
    <div class="row">
        <div class="col-12 text-center">
        <form action="/signup" method="post" id="vaccine_record_form">
            <div class="form-row col-12">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="select-role">Sign up as</label>
                        <select class="form-control" name="role" id="role">
                            <option value="1">Health Centre</option>
                            <option value="2">Medical Practitioner</option>
                            <option value="3">Government Official</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-10">Submit</button>
        </form>
        </div>
        <div class="col-12" id="vaccine_record_form_result">
        </div>
    </div>
</div>