<div class="container">
    <h1 class="title text-center">VACCINE RECORD</h1>
    <div class="row">
        <div class="col-12 text-center">
        <form action="/generalQuery" method="post" id="vaccine_record_form">
            <div class="form-row col-12">
                <div class="form-group col-md-4">
                    <label for="name">Name</label>
                    <input type="text" name="name" minlength="10" maxlength="10" required="true" class="form-control" id="contact" aria-describedby="emailHelp" placeholder="Enter your contact">
                </div>
                <div class="form-group col-md-4">
                    <label for="contact">Contact</label>
                    <input type="text" name="contact" minlength="10" maxlength="10" required="true" class="form-control" id="contact" aria-describedby="emailHelp" placeholder="Enter your contact">
                </div>
                <div class="form-group col-md-4">
                    <label for="AdhaarNumber">Adhaar Number</label>
                    <input type="text" name="aadhar" required="true" class="form-control" minlength="12" maxlength="12" id="adhar" placeholder="Adhar Number">
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-10">Submit</button>
        </form>
        </div>
        <div class="col-12 p-3" id="vaccine_record_form_result">
        </div>
    </div>
</div>